<?xml version="1.0"?>
<configuration>
  <appSettings>

    <!-- 远程图片保存目录 -->
    <add key="Gwsoft.Web.ImageTool.RemoteFile" value="/" />
    
    <!--HTML内容中图片下载保存地址目录-->
    <add key="Gwsoft.ImageManipulation.WebPngImage.DownloadBase" value="/r1/" />

    <!--下载保存地址目录的虚拟目录-->
    <add key="Gwsoft.ImageManipulation.WebPngImage.DownloadBaseAppDir" value="/r1/" />
    
  </appSettings>
<startup>
  <supportedRuntime version="v2.0.50727"/>
</startup>
</configuration>
